{% extends "layout.twig" %}

{% block title %}Detail de la table {{ table_name }}{% endblock %}
{% block head %}
  {{ parent() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

  <h1>Requête libre en SQL !</h1>

  <p>
    <form action="./query.php" id="queryForm" class="form" method="POST">
      <div class="form-group">
        <textarea name="sql" form="queryForm" class="form-control">Tapez votre requête ici ! puis cliquez sur le bouton "Envoyer !"</textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success" id="freeQuerryButton">Envoyer !</button>
      </div>
    </form>
  </p>
  <div class="well" id="freeQuerryResult" {% if results %}style="display: block;"{% else %}style="display: none;"{% endif %}>
    <table class="table">


      {% if results is iterable %}
        {% for result in results %}
          <tr>
            {% if result is iterable %}
              {% for result2 in result %}
              <td>{{ result2 }}</td>
              {% endfor %}
            {% else %}
              {# users is probably a string #}
              {{ result }}!
            {% endif %}
          </tr>
        {% endfor %}
      {% else %}
          {# users is probably a string #}
          {{ results }}!
      {% endif %}



    </table>
  </div>

{% endblock %}
